<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Wave</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Send Waves with media files</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Schedule sending Waves</string>
	<key>NSCameraUsageDescription</key>
	<string>Taking photos to send with Wave</string>
	<key>NSContactsUsageDescription</key>
	<string>Allows sending Waves to contacts</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Send Waves with location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Send Waves with Location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Listen for Waves</string>
	<key>NSMotionUsageDescription</key>
	<string>Send Waves using motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Send and save photos with Wave</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Send and save photos with Wave</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Sned Waves using speech</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
